<div id="forecast-map" style="height: 400px; width: 100%;"></div>

<script>
  function initMap() {
    var forecastLocation = { lat: <%= @forecast[:latitude] %>, lng: <%= @forecast[:longitude] %> };
    var map = new google.maps.Map(document.getElementById('forecast-map'), {
      zoom: 8,
      center: forecastLocation
    });
    var marker = new google.maps.Marker({
      position: forecastLocation,
      map: map
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_APIKEY'] %>&callback=initMap">
</script>

<div class="forecast-details">
  <div class="left">
    <p>Current Temperature: <%= @forecast.dig(:current, :temperature_2m) %>°F</p>
    <p>Current Weather: <%= weather_code_to_weather(@forecast.dig(:current, :weather_code)) %></p>
  </div>
  <div class="right">
    <p>Max Temperature: <%= @forecast.dig(:daily, :temperature_2m_max).first %>°F</p>
    <p>Min Temperature: <%= @forecast.dig(:daily, :temperature_2m_min).first %>°F</p>
  </div>
</div>
